<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step2" >
        <div class="wrapper">
            <h1>¿Qué nivel configurará?</h1>
            <p>Seleccion un nivel para empezar.</p>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <label class="checkeable" *ngFor="let row of datasteps.niveles; let i = index">
                    <input type="radio" name="form.nivel" [(ngModel)]="form.nivel" value="{{row.id}}-{{row.nombre}}" />
                    
                    <div >
                        <img src="assets/img/lvl{{i}}.png"/>
                        <span class="tag" *ngIf="!row.settingok">{{row.nombre}}</span>
                        <span class="tag" *ngIf="row.settingok">{{row.nombre}} <br><b class="oksetting">Configurado</b></span>
                        <span class="checked"><i class="icon-check"></i></span>
                    </div>
                </label>
                <div class="fcont_btns">
                    <a [routerLink]="['/setupinitial/step1']" class="sbtn sbtn_prev" >Anterior</a>
                    <button class="sbtn sbtn_next" >Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</div>