<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step1" >
        <div class="wrapper">
            <h1>Bienvenido</h1>
            <p>Selecciona los niveles educativos de la institución</p>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <label class="checkeable" *ngFor="let row of form.niveles; let i = index">
                    <input type="checkbox" [(ngModel)]="row.uchecked" [checked]="row.checked"  name="nivel"  />
                    <div>
                        <img src="/assets/img/lvl{{i}}.png"/>
                        <span class="tag">{{row.nombre}}</span>
                        <span class="checked"><i class="icon-check"></i></span>
                    </div>
                </label>
                <div class="fcont_btns">
                    <button class="sbtn sbtn_next" >Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</div>