<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step7" >
        <div class="wrapper">
            <h1>Metodo de Evaluaciones</h1>
            <p>Primero agrega columnas de notas luego debajo usando las abreviaturas <br/> realizar la formula de como se sacará la nota.</p>
            <div class="table">
                <div class="th">
                    <div class="td">Abreviatura</div>
                    <div class="td">Evaluación</div>
                    <div class="td">Opciones</div>
                </div>
                <div class="tr">
                    <div class="td"> 
                        <input type="text" [(ngModel)]="dataAdd.abreviatura" name="abreviatura" #abreviatura="ngModel" placeholder="Ej. BMT" />
                    </div>
                    <div class="td">
                        <input type="text" [(ngModel)]="dataAdd.nombre" name="nombre" #nombre="ngModel" placeholder="Ej. Bimestral" />
                    </div>
                    <div class="td">
                        <a (click)="rowAdd()" class="btn btn_add">Agregar</a> 
                    </div>
                </div>
                <div class="tr" *ngFor="let row of leyendas; let i=index">
                    <div class="td"> 
                        <span>{{row.abreviatura}}</span>
                    </div>
                    <div class="td"><span>{{row.nombre}}</span></div>
                    <div class="td">
                        <a (click)="rowRemove(row.id,i)" title="Eliminar"><i class="icon-close"></i></a> 
                    </div>
                </div>
            </div>
            <div class="formula">
                <p>Usa las abreviaturas y simbolos + - * / para realizar la formula de calificación.</p>
                <div class="cont_formula">
                    <div class="con_etiq"><span>Nota =</span> </div>
                    <div class="con_division">
                        <div class="dividendo"> 
                            <input type="text" [(ngModel)]="dataForm.formula" name="formula" #formula="ngModel" placeholder="Ej. 2*BMT+1*MEN+1*SEM"/>
                        </div>
                        <div class="divisor"> 
                            <input type="text" placeholder="Ej. 4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fcont_btns">
                <a [routerLink]="['/setupinitial/step6']" class="sbtn sbtn_prev" >Anterior</a>
                <button class="sbtn sbtn_next" (click)=onSubmit()>Siguiente</button>
            </div>
        </div>
    </div>
</div>