<div class="content steps">
  <app-navigator-nologin></app-navigator-nologin>
  <div class="cont2 step0" >
    <div class="wrapper">
      <h1>Bienvenido de nuevo</h1>
      <p>Por favor ingrese a su cuenta.</p>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="inpt1">
            <label for="contra">Centro educativo</label>
            <select  [(ngModel)]="datalogin.centro_educativo" name="centro_educativo" class="form-select" #centro_educativo="ngModel" required >
              <option value="">Seleccione centro educativo</option>
              <option *ngFor="let c of centros_educativos" [ngValue]="c.id">{{c.nombre}}</option>
            </select>
            <div *ngIf="f.submitted && centro_educativo.invalid" class="invalid-feedback">
              <div *ngIf="centro_educativo.errors.required">Centro educativo es requerida</div>
            </div>            
        </div>
        <div class="inpt1">
          <label for="id">Tipo documento</label>
          <select [(ngModel)]="datalogin.tipo_documento" name="tipo_documento" class="form-select" #tipo_documento="ngModel" required >
            <option value="1">Dni</option>
            <option value="2">Carnet de extranjería</option>
            <option value="3">Ruc</option>
            <option value="4">Pasaporte</option>
            <option value="5">Partida de nacimiento</option>
            <option value="6">Otros</option>
          </select>
          <div *ngIf="f.submitted && tipo_documento.invalid" class="invalid-feedback">
            <div *ngIf="tipo_documento.errors.required">Tipo documento es requerida</div>
          </div>
        </div>
        <div class="inpt1">
            <label for="contra">Número documento</label>
            <input type="text" [(ngModel)]="datalogin.numero_documento" name="numero_documento" #numero_documento="ngModel" required />
            <div *ngIf="f.submitted && numero_documento.invalid" class="invalid-feedback">
              <div *ngIf="numero_documento.errors.required">Número documento es requerida</div>
            </div>
        </div>
        <div class="inpt1">
          <label for="contra">Contraseña</label>
          <input type="password" [(ngModel)]="datalogin.password" name="password" #password="ngModel" minlength="6" required />
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Contraseña es requerida</div>
            <div *ngIf="password.errors.minlength">Mínimo 6 caracteres</div>
          </div>
        </div>
        <div class="fcont_btns">
          <button class="sbtn sbtn_next" id="next1">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>