/*CONFIG GENERAL*/
@import url('hall.css');
/* END CONFIG GENERAL*/
.step0 form{
	max-width:300px;
	margin:0px auto;
}
.step0 .inpt1{
	margin-bottom:10px;
}
.step0 .inpt1 label{
	display:block;
	text-align:left;
	padding:3px 4px;
    font-size: 14px;
}
.step0 .inpt1 input{
	width:100%;
	outline:none;
	padding:10px;
	border-radius:5px;
	border:1px solid #d9d9d9;
}
.step0 .fcont_btns{
	margin-top:18px;
}
.cont1{
	background: #fff;
}
.cont1 .wrapper .logo{
	float: left;
}
.cont1 .wrapper .logo img{
	height: 40px;
	margin: 10px;
}
/* END section 2*/
.cont2 .wrapper{
	background: #fff;
	margin: 20px auto;
	text-align: center;
}
.cont1 .wrapper .hbar{
	position: relative;
}
.cont1 .wrapper .hbar .bar_progress{
	max-width:350px;
	width: 100%;
	float: right;
	margin-top: 25px;
}
/*barra de progreso*/
.flexer,.progress-indicator{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex}
.no-flexer,.progress-indicator.stacked{
	display:block}
.no-flexer-element{
	-ms-flex:0;
	-webkit-flex:0;
	-moz-flex:0;
	flex:0}
.flexer-element,.progress-indicator>li{
	-ms-flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	flex:1}
.progress-indicator{
	margin:0 0 1em;
	padding:0;
	font-size:70%;
}
.progress-indicator>li{
	list-style:none;
	text-align:center;
	width:auto;
	padding:0;
	margin:0;
	position:relative;
	text-overflow:ellipsis;
	color:#bbb;
	display:block}
.progress-indicator>li:hover{
	color:#6f6f6f}
.progress-indicator>li.completed,.progress-indicator>li.completed .bubble{
	color:#65d074}
.progress-indicator>li .bubble{
    border-radius: 1000px;
    width: 7px;
    height: 7px;
    background-color: #bbb;
    display: block;
    margin: 0 auto 0em;
}
.progress-indicator>li a{
	text-decoration: none;
	color:initial;
	cursor: default;
}
.progress-indicator>li a .bptext{
	color: #ddd;
}
.progress-indicator>li a:hover .bptext,
.progress-indicator>li.active a .bptext{
	color: #555;
}
.progress-indicator>li.completed a:hover{
	text-decoration: none;
	color:#158EEF;
	cursor: pointer;
}
.progress-indicator>li .bubble:after,.progress-indicator>li .bubble:before{
	display:block;
	position:absolute;
	top:4px;
	width:100%;
	height:1px;
	content:'';
	background-color:#bbb}
.progress-indicator>li.completed .bubble,.progress-indicator>li.completed .bubble:after,.progress-indicator>li.completed .bubble:before{
	background-color:#65d074;
	border-color:#71CB35}
.progress-indicator>li .bubble:before{
	left:0}
.progress-indicator>li .bubble:after{
	right:0}
.progress-indicator>li:first-child .bubble:after,.progress-indicator>li:first-child .bubble:before{
	width:50%;
	margin-left:50%}
.progress-indicator>li:last-child .bubble:after,.progress-indicator>li:last-child .bubble:before{
	width:50%;
	margin-right:50%}
.progress-indicator>li.active,.progress-indicator>li.active .bubble{
	color:#337AB7}
.progress-indicator>li.active .bubble,.progress-indicator>li.active .bubble:after,.progress-indicator>li.active .bubble:before{
	background-color:#337AB7;
	border-color:#122a3f}
.progress-indicator>li a:hover .bubble,.progress-indicator>li a:hover .bubble:after,.progress-indicator>li a:hover .bubble:before{
	background-color:#5671d0;
	border-color:#1f306e}
.progress-indicator>li a:hover .bubble{
	color:#5671d0}
.progress-indicator>li.danger .bubble,.progress-indicator>li.danger .bubble:after,.progress-indicator>li.danger .bubble:before{
	background-color:#d3140f;
	border-color:#440605}
.progress-indicator>li.danger .bubble{
	color:#d3140f}
.progress-indicator>li.warning .bubble,.progress-indicator>li.warning .bubble:after,.progress-indicator>li.warning .bubble:before{
	background-color:#edb10a;
	border-color:#5a4304}
.progress-indicator>li.warning .bubble{
	color:#edb10a}
.progress-indicator>li.info .bubble,.progress-indicator>li.info .bubble:after,.progress-indicator>li.info .bubble:before{
	background-color:#5b32d6;
	border-color:#25135d}
.progress-indicator>li.info .bubble{
	color:#5b32d6}
.progress-indicator.stacked>li{
	text-indent:-10px;
	text-align:center;
	display:block}
.progress-indicator.stacked>li .bubble:after,.progress-indicator.stacked>li .bubble:before{
	left:50%;
	margin-left:-1.5px;
	width:3px;
	height:100%}
.progress-indicator.stacked .stacked-text{
	position:relative;
	z-index:10;
	top:0;
	margin-left:60%!important;
	width:45%!important;
	display:inline-block;
	text-align:left;
	line-height:1.2em}
.progress-indicator.stacked>li a{
	border:none}
.progress-indicator.stacked.nocenter>li .bubble{
	margin-left:0;
	margin-right:0}
.progress-indicator.stacked.nocenter>li .bubble:after,.progress-indicator.stacked.nocenter>li .bubble:before{
	left:10px}
.progress-indicator.stacked.nocenter .stacked-text{
	width:auto!important;
	display:block;margin-left:40px!important}
@media handheld,screen and (max-width:400px){
	.progress-indicator{
	font-size:60%}
}
/*end barra de progreso*/
.cont2 h1{
	margin: 0px;
	font-weight: 300;
    font-size: 32px;
}
.cont2 p{
	color:#858787;
	margin: 10px 0px 30px;
    font-weight: 300;
}
label.checkeable {
 	display: inline-block;
    margin: 0px 14px;
}
.checkeable input {
  	display: none;
}
.checkeable div{
	flex: 1 1 auto;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	box-shadow: 0 0 1px #ccc;
	border-radius: 10px;
	display: inline-block;
    text-decoration:none; 
    color:#555;
    background:#fff;
    padding:10px;
    margin-top: 10px;
    min-width: 120px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.checkeable div span.tag{
	margin-top: 8px;
	margin-bottom: 5px;
	display: block;
    font-weight: 400;
}
.checkeable div i{
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #4D83FF;
}
.checkeable img {
	max-width: 130px;
	border: 5px solid transparent;
	display: inline-block;
	cursor: pointer;
	opacity: 0.8;
	/*filter: grayscale(100%);*/
	transition:filter 0.4s;
}
.checkeable input:checked  + div img  {
    filter: grayscale(0%);
}
.checkeable input:checked  + div {
    box-shadow: 0 0 3px #2178FF;
    color: #000;
    background:#fafcff;
}
.checkeable input:checked  + div i {
    display: block;
}
.fcont_btns{
	margin-top: 80px;
}
.fcont_btns .sbtn {
    border-radius: 5px;
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 15px;
    min-width: 133px;
    cursor: pointer;
    opacity: 0.8;
}
.fcont_btns .sbtn:hover{
	opacity: 1;
}
.fcont_btns .sbtn_prev {
	color:#2178ff ;
	background:#f0f6ff;
}
.fcont_btns .sbtn_next {
	color:#fff;
	background:#2479ff;
}
/* END section 2*/
.step3 .continput{
	margin:20px 0px;
}
.step3 .continput input,
.step3 .continput select{
	padding:10px;
	font-size:14px;
	border-radius:4px;
	outline:none;
	border: 1px solid #d0d0d0;
}
.step3 .continput h4{
	font-size:13px;
	margin:8px 0px;
	color:#858787;
	font-weight: 500;
}
.step4 .table .tr:nth-child(2){
	background:#f7f7f7;
	border-radius:4px;
	padding:4px 0px;
}
.step4 .table .tr .td a i{
    font-size: 12px;
    margin-top: 10px;
	color:#777;
	display:none;
}
.step4 .table .tr .td a:hover i{
	color:#555;
}
.step4 .table .tr:nth-child(1),
.step4 .table .tr:nth-child(2),
.step4 .table .tr:last-child{
	border:none;
}
.step4 .table .tr{
	border-bottom:1px solid #e5e5e5;
}
.step4 .table .tr .td a.btn_add{
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    color: #2178ff;
    background: #f0f6ff;
    border: 1px solid #2178ff;
    text-decoration: none;
    display: inline-block;
}
.step4 .table .tr .td a.btn_add:hover{
	background:#2178ff;
	color:#fff;
}
.step4 .table .tr:hover .td a i{
	display:inline-block;
}
.step4 .table .tr .td span{
	line-height:2;
}
.step4 .table .tr .td input[type="text"],
.step4 .table .tr .td select{
	width: 91%;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d0d0d0;
    text-align: center;
}
.step4 .table{
	max-width:500px;
	margin:10px auto;
	font-size: 14px;
}
.step4 .table .th,
.step4 .table .tr{
	display: flex;
}
.step4 .table .th .td,
.step4 .table .tr .td{
	display:block;
	padding:3px 5px;
}
.step4 .table .th .td:nth-child(1),
.step4 .table .tr .td:nth-child(1){
	width:25%;
}
.step4 .table .th .td:nth-child(2),
.step4 .table .tr .td:nth-child(2){
	width:25%;
}
.step4 .table .th .td:nth-child(3),
.step4 .table .tr .td:nth-child(3){
	width:25%;
}
.step4 .table .th .td:nth-child(4),
.step4 .table .tr .td:nth-child(4){
	width:25%;
}
/*step5*/

.step5 .table .tr:nth-child(2){
	background:#f7f7f7;
	border-radius:4px;
	padding:4px 0px;
}
.step5 .table .tr .td a i{
	font-size:12px;
	margin-top: 10px;
	color:#777;
	display:none;
}
.step5 .table .tr .td a:hover i{
	color:#555;
}
.step5 .table .tr:nth-child(1),
.step5 .table .tr:nth-child(2),
.step5 .table .tr:last-child{
	border:none;
}
.step5 .table .tr{
	border-bottom:1px solid #e5e5e5;
}
.step5 .table .tr .td a.btn_add{
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    color: #2178ff;
    background: #f0f6ff;
    border: 1px solid #2178ff;
    text-decoration: none;
    display: inline-block;
}
.step5 .table .tr .td a.btn_add:hover{
	background:#2178ff;
	color:#fff;
}
.step5 .table .tr:hover .td a i{
	display:inline-block;
}
.step5 .table .tr .td span{
	line-height:2;
}
.step5 .table .tr .td input[type="text"],
.step5 .table .tr .td select{
	width: 91%;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d0d0d0;
    text-align: center;
}
.step5 .table{
	max-width:500px;
	margin:10px auto;
	font-size: 14px;
}
.step5 .table .th,
.step5 .table .tr{
	display: flex;
}
.step5 .table .th .td,
.step5 .table .tr .td{
	display:block;
	padding:3px 5px;
}
.step5 .table .th .td:nth-child(1),
.step5 .table .tr .td:nth-child(1){
	width:70%;
}
.step5 .table .th .td:nth-child(2),
.step5 .table .tr .td:nth-child(2){
	width:30%;
}
/*step 6*/
.step6 .table .tr:nth-child(2){
	background:#f7f7f7;
	border-radius:4px;
	padding:4px 0px;
}
.step6 .table .tr .td a i{
	font-size:12px;
	margin-top: 10px;
	color:#777;
	display:none;
}
.step6 .table .tr .td a:hover i{
	color:#555;
}
.step6 .table .tr:nth-child(1),
.step6 .table .tr:nth-child(2),
.step6 .table .tr:last-child{
	border:none;
}
.step6 .table .tr{
	border-bottom:1px solid #e5e5e5;
}
.step6 .table .tr .td a.btn_add{
    border-radius: 5px;
    padding: 4px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    color: #2178ff;
    background: #f0f6ff;
    border: 1px solid #2178ff;
    text-decoration: none;
    display: inline-block;
}
.step6 .table .tr .td a.btn_add:hover{
	background:#2178ff;
	color:#fff;
}
.step6 .table .tr:hover .td a i{
	display:inline-block;
}
.step6 .table .tr .td span{
	line-height:2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}
.step6 .table .tr .td input[type="text"],
.step6 .table .tr .td select{
	width: 91%;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d0d0d0;
    text-align: center;
}
.step6 .table{
	max-width:500px;
	margin:10px auto;
	font-size: 14px;
}
.step6 .table .th,
.step6 .table .tr{
	display: flex;
}
.step6 .table .th .td,
.step6 .table .tr .td{
	display:block;
	padding:3px 5px;
}
.step6 .table .th .td:nth-child(1),
.step6 .table .tr .td:nth-child(1){
	width:20%;
}
.step6 .table .th .td:nth-child(2),
.step6 .table .tr .td:nth-child(2){
	width:55%;
}
.step6 .table .th .td:nth-child(3),
.step6 .table .tr .td:nth-child(3){
	width:25%;
}
/*step7*/
.step7 .table .tr:nth-child(2){
	background:#f7f7f7;
	border-radius:4px;
	padding:4px 0px;
}
.step7 .table .tr .td a i{
	font-size:12px;
	margin-top: 10px;
	color:#777;
	display:none;
}
.step7 .table .tr .td a:hover i{
	color:#555;
}
.step7 .table .tr:nth-child(1),
.step7 .table .tr:nth-child(2),
.step7 .table .tr:last-child{
	border:none;
}
.step7 .table .tr{
	border-bottom:1px solid #e5e5e5;
}
.step7 .table .tr .td a.btn_add{
    border-radius: 5px;
    padding: 6px 0px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    color: #2178ff;
    background: #f0f6ff;
    border: 1px solid #2178ff;
    text-decoration: none;
    display: inline-block;
}
.step7 .table .tr .td a.btn_add:hover{
	background:#2178ff;
	color:#fff;
}
.step7 .table .tr:hover .td a i{
	display:inline-block;
}
.step7 .table .tr .td span{
	line-height:2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}
.step7 .table .tr .td input[type="text"],
.step7 .table .tr .td select{
	width: 91%;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d0d0d0;
    text-align: center;
}
.step7 .table{
	max-width:500px;
	margin:10px auto;
	font-size: 14px;
}
.step7 .table .th,
.step7 .table .tr{
	display: flex;
}
.step7 .table .th .td,
.step7 .table .tr .td{
	display:block;
	padding:3px 5px;
}
.step7 .table .th .td:nth-child(1),
.step7 .table .tr .td:nth-child(1){
	width:20%;
}
.step7 .table .th .td:nth-child(2),
.step7 .table .tr .td:nth-child(2){
	width:55%;
}
.step7 .table .th .td:nth-child(3),
.step7 .table .tr .td:nth-child(3){
	width:25%;
}
.step7 .formula{
	margin-top:30px;
}
.step7 .formula p{
	background: #fef8e2;
    color: #222;
    padding: 7px 10px;
    border-radius: 6px;
    max-width: 498px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #fbeeb0;
    font-weight: 400;
}
.step7 .cont_formula{
	display:flex;
	max-width:400px;
	width:100%;
	margin:0px auto;
}
.step7 .cont_formula .con_etiq{
	min-width:80px;
}
.step7 .cont_formula .con_etiq span{
	margin-top: 15px;
    display: inline-block;
}
.step7 .cont_formula .con_division{
	width:100%;
	text-align:center;
}
.step7 .cont_formula .con_division input{
	border:none;
	font-size:19px;
	outline:none;
	text-align:center;
	padding:5px 0px;
	font-family: Roboto;
    font-weight: 300;
}
.step7 .cont_formula .con_division .dividendo input{
	width:100%;
	border-bottom:1px solid #555;
}
.step7 .cont_formula .con_division .divisor input{
	width:50%;
}
/*step8*/
.step8 .successfuls8{
	display:block;
	width:100%;
	text-align:center;
}
.step8 .successfuls8 div{
	border:2px solid #24D66E;
	width:50px;
	height:50px;
	border-radius:50%;
	display:inline-block;
}
.step8 .successfuls8 div i{
	color:#24D66E;
	font-size:33px;
	margin: 8px auto 0px;
    display: inline-block;
}
.step8 h1{
	margin-top:10px;
	color:#24D66E;
}
.checkeable img {
    max-width: 130px;
}
/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 668px) {
	.cont1 .wrapper .hbar .bar_progress{
		max-width:initial;
	}
	label.checkeable {
	    margin: 0px 1px;
	}
	.checkeable div {
    	padding: 0px;
    }
    .fcont_btns .sbtn {
    	margin: 5px 7px;
    }
    .cont2 h1 {
	    font-size: 24px;
	}
    .cont2 p {
	    margin: 7px 0px 16px;
	    font-size: 13px;
	}
	.fcont_btns {
	    margin-top: 30px;
	}
	.step4 .table .th .td:nth-child(1), 
	.step4 .table .tr .td:nth-child(1) {
	    width: 21%;
	}
	.step4 .table .th .td:nth-child(2),
	.step4 .table .tr .td:nth-child(2) {
	    width: 21%;
	}
	.step4 .table .th .td:nth-child(3),
	.step4 .table .tr .td:nth-child(3) {
	    width: 33%;
	}
	.checkeable div {
		min-width: 90px;
	}
	.step4 .table .tr .td a i,
	.step5 .table .tr .td a i,
	.step6 .table .tr .td a i,
	.step7 .table .tr .td a i {
		display: inline-block;
	}
	.step7 .cont_formula {
    	display: block;
    }
    .step7 .cont_formula .con_etiq {
	    margin-bottom: 11px;
	}
	.step7 .cont_formula .con_division {
	    padding: 0px 10px;
	}
	.cont2 .wrapper {
	    padding: 0px 5px;
	}
}
/*END RESPONDE DESIGN*/